<ion-content [fullscreen]="true">
  <div class="register-page">
    <header class="register-header">
      <div class="header-content">
        <div class="brand-group">
          <div class="logo-box">
            <ion-icon name="flask-outline"></ion-icon>
          </div>
          <h1>AsisTec</h1>
        </div>

        <a class="black-ink" (click)="gotologin()">
          <ion-icon name="arrow-back-outline"></ion-icon>
          <span class="hidden sm:inline">Regresar</span>
        </a>
      </div>
    </header>

    <main class="main-container">
      <div class="content-wrapper">
        <div class="register-card">
          <div class="card-header">
            <h2>Módulo de Registro</h2>
            <p>Crea tu cuenta para poder acceder al sistema</p>
          </div>

          <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="space-y-5">
              <div class="input-group">
                <label for="rut">Rut</label>
                <div class="input-wrapper">
                  <ion-icon name="id-card-outline" class="field-icon"></ion-icon>
                  <input id="rut" type="text" formControlName="rut" placeholder="Ej. 12.345.678-9"
                    class="input-field" />
                </div>

                <div *ngIf="registerForm.get('rut')?.touched && registerForm.get('rut')?.invalid" class="error-msg">
                  <ion-icon name="alert-circle-outline"></ion-icon>
                  <span *ngIf="registerForm.get('rut')?.errors?.['required']">El RUT es obligatorio.</span>
                </div>
              </div>

              <div class="input-group">
                <label for="fullname">Nombre y Apellido</label>
                <div class="input-wrapper">
                  <ion-icon name="person-outline" class="field-icon"></ion-icon>
                  <input id="fullname" type="text" formControlName="fullname" placeholder="Ej : Matias Villegas"
                    class="input-field" />
                </div>
                <div *ngIf="registerForm.get('fullname')?.touched && registerForm.get('fullname')?.invalid"
                  class="error-msg">
                  <ion-icon name="alert-circle-outline"></ion-icon>
                  <span *ngIf="registerForm.get('fullname')?.errors?.['required']">El nombre y apellido es
                    obligatorio.</span>
                </div>
              </div>
              <div class="input-group">
                <label for="email">Correo Electrónico</label>
                <div class="input-wrapper">
                  <ion-icon name="mail-outline" class="field-icon"></ion-icon>
                  <input id="email" type="email" formControlName="email" placeholder="correo@asistec.cl"
                    class="input-field" />
                </div>
                <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="error-msg">
                  <ion-icon name="alert-circle-outline"></ion-icon>
                  <span *ngIf="registerForm.get('email')?.errors?.['required']">El correo es obligatorio.</span>
                </div>
              </div>

              <div class="input-group">
                <label for="password">Contraseña</label>
                <div class="input-wrapper">
                  <ion-icon name="lock-closed-outline" class="field-icon"></ion-icon>
                  <input id="password" type="password" formControlName="password" placeholder="••••••••"
                    class="input-field" />
                </div>
                <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
                  class="error-msg">
                  <ion-icon name="alert-circle-outline"></ion-icon>
                  <span *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
                </div>
              </div>

              <div class="input-group">
                <label for="confirm-password">Confirmar Contraseña</label>
                <div class="input-wrapper">
                  <ion-icon name="checkmark-circle-outline" class="field-icon"></ion-icon>
                  <input id="confirm-password" type="password" formControlName="confirmPassword" placeholder="••••••••"
                    class="input-field" />
                </div>
              </div>

              <div class="pt-4">
                <button type="submit" [disabled]="isLoading" class="btn-primary">
                  <span *ngIf="!isLoading">Registrarse</span>
                  <span *ngIf="isLoading">Cargando...</span>
                </button>
              </div>

            </form>


            <div class="login-redirect">
              <p>
                ¿Ya tienes una cuenta?
                <a routerLink="/login">Inicia sesión aquí</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</ion-content>