<app-header></app-header>
<ion-content [fullscreen]="true" [scrollY]="true">
  <app-titulos-reportes [codigoALI]="codigoALI" [estadoTPA]="estadoTPA" tipoReporte="TPA"
    [ultimaActualizacion]="ultimaActualizacion" [responsable]="responsableModificacion"></app-titulos-reportes>
  <ion-accordion-group [value]="seccionActual">
    <ion-accordion value="etapa1" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">ETAPA 1 : Almacenamiento de Muestra</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="auto" class="columna_del_contendido">
              <ion-label>Lugar de Almacenamiento de la muestra</ion-label>
              <ion-select placeholder="Seleccione un Lugar" class="selecionador_opciones"
                [disabled]="formularioBloqueado" [(ngModel)]="lugarAlmacenamientoEtapa1">
                <ion-select-option *ngFor="let lugar of listaLugares" [value]="lugar.nombre">
                  {{ lugar.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col class="columna_del_contendido">
              <ion-label>Observaciones de la Muestra</ion-label>
              <ion-textarea class="seleccionador_de_texto" [disabled]="formularioBloqueado"
                [(ngModel)]="observacionesEtapa1"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion *ngFor="let etapa2 of listaRepeticionesEtapa2; let i = index; let isLast=last" [value]="'etapa2'+ i"
      class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">ETAPA 2 : Recepcion de Muestra Analista {{i+1}} </ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="2">
              <ion-label>Responsable </ion-label>
              <ion-select placeholder="Seleccione un Responsable" class="selecionador_opciones"
                [disabled]="formularioBloqueado" [(ngModel)]="etapa2.responsable">
                <ion-select-option *ngFor="let responsable of listaResponsables" [value]="responsable.nombre">
                  {{ responsable.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col class="columna_del_contendido" size="2">
              <ion-label>Fecha de Preparacion</ion-label>
              <ion-input type="date" [disabled]="formularioBloqueado" [(ngModel)]="etapa2.fechaPreparacion"
                (click)="openDatePicker($event)">
              </ion-input>
            </ion-col>
            <ion-col class="columna_del_contendido" size="2">
              <ion-label>Hora de inicio</ion-label>
              <ion-input type="time" [disabled]="formularioBloqueado" [(ngModel)]="etapa2.horaInicio"
                (click)="openDatePicker($event)">
              </ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-label>Hora de Pesado</ion-label>
              <ion-input type="time" [disabled]="formularioBloqueado" [(ngModel)]="etapa2.horaPesado"
                (click)="openDatePicker($event)">
              </ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-label>Numero de muestras</ion-label>
              <ion-input class="contenedor_input" [disabled]="formularioBloqueado"
                [(ngModel)]="etapa2.numeroMuestras"></ion-input>
            </ion-col>
          </ion-row>
          <hr class="linea_divisoria">
          <ion-row>
            <ion-col size="3">
              <ion-label>Equipo y/o Instrumento</ion-label>
              <ion-list class="lista_equipos_scroll">
                <ion-item *ngFor="let equipo of listaEquipos">
                  <ion-checkbox slot="start" [checked]="esEquipoSeleccionado(i, equipo.nombre)"
                    (ionChange)="toggleEquipo(i, equipo.nombre)" [disabled]="formularioBloqueado">
                  </ion-checkbox>
                  <ion-label>{{ equipo.nombre }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="3">
              <ion-label>Lugar de Almacenamiento de la muestra</ion-label>
              <ion-select placeholder="Seleccione un Equipo y/o Instrumento" class="selecionador_opciones"
                [disabled]="formularioBloqueado" [(ngModel)]="etapa2.lugarAlmacenamiento">
                <ion-select-option *ngFor="let lugar of listaLugares" [value]="lugar.nombre"
                  [disabled]="lugar.nombre === 'Mesón Siembra'">
                  {{ lugar.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="2">
              <ion-label>Retiro o Pesado</ion-label>
              <ion-radio-group [value]="etapa2.tipoAccion" (ionChange)="etapa2.tipoAccion = $event.detail.value">
                <div class="contenedor-radios">
                  <ion-radio value="Retiro" labelPlacement="end" [disabled]="formularioBloqueado">Retiro</ion-radio>
                  <ion-radio value="Pesado" labelPlacement="end" [disabled]="formularioBloqueado">Pesado</ion-radio>
                </div>
              </ion-radio-group>
            </ion-col>
            <ion-col size="4">
              <ion-label>Clave Material Pesado</ion-label>
              <div *ngFor="let material of etapa2.listaMateriales ; let j=index; trackBy: trackById"
                class="fila_dinamica">
                <div class="contendor_doble">
                  <ion-select [(ngModel)]="material.tipoMaterial" placeholder="Seleccione la clave del material pesado"
                    class="selecionador_opciones" interface="alert" [disabled]="formularioBloqueado">
                    <ion-select-option *ngFor="let opcion of opcionesMateriales" [value]="opcion.valor"
                      [disabled]="opcion.esTitulo">
                      {{ opcion.nombre }}
                    </ion-select-option>
                  </ion-select>
                  <ion-input [(ngModel)]="material.codigoMaterial" class="contendor_input"
                    [disabled]="formularioBloqueado"></ion-input>
                </div>
              </div>
              <div class="ion-text-right ion-padding-top">
                <ion-button fill="clear" size="small" (click)="agregarMaterial(i)" *ngIf="!formularioBloqueado">
                  <ion-icon name="add-circle" slot="start"></ion-icon>
                  Agregar otro material
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <hr class="linea_divisoria">
          <ion-row>
            <ion-col class="columna_del_contendido">
              <ion-label>Observaciones de la Muestra</ion-label>
              <ion-textarea class="seleccionador_de_texto" [disabled]="formularioBloqueado"
                [(ngModel)]="etapa2.observacionesEtapa2"></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isLast">
            <ion-col size="12">
              <div class="ion-padding-top">
                <ion-button expand="block" fill="outline" (click)="agregarRepeticion()" *ngIf="!formularioBloqueado">
                  <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                  Agregar Otro Analista
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="etapa3" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">Etapa 3 : Limpieza General</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-label>Items de Limpieza</ion-label>
        <ion-list>
          <ion-item *ngFor="let item of listaLimpieza">
            <ion-checkbox slot="start" label-placement="end" [disabled]="item.bloqueado || formularioBloqueado"
              [(ngModel)]="item.seleccionado">
              {{item.nombre}}
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion *ngFor="let etapa4 of listaRepeticionesEtapa4; let i = index; let isLast = last"
      [value]="'etapa4' + i" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">Etapa 4: Retiro de Muestras Pesadas {{i+1}}</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>Responsable</ion-label>
              <ion-select placeholder="Seleccione un responsable" class="selecionador_opciones"
                [(ngModel)]="etapa4.responsable" [disabled]="formularioBloqueado">
                <ion-select-option *ngFor="let responsable of listaResponsables" [value]="responsable.nombre">
                  {{responsable.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-label>Fecha</ion-label>
              <ion-input type="date" [disabled]="formularioBloqueado" [(ngModel)]="etapa4.fecha"
                (click)="openDatePicker($event)">
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-label>Hora de Inicio</ion-label>
              <ion-input type="time" [disabled]="formularioBloqueado" [(ngModel)]="etapa4.horaInicio"
                (click)="openDatePicker($event)">
              </ion-input>
            </ion-col>
            <ion-col>
              <ion-label>Analisis a Realizar</ion-label>
              <ion-textarea [(ngModel)]="etapa4.analisisARealizar" [disabled]="formularioBloqueado"></ion-textarea>
            </ion-col>
            <ion-col size="12" *ngIf="isLast">
              <div class="ion-padding-top">
                <ion-button expand="block" fill="outline" (click)="agregarRepeticionEtapa4()"
                  *ngIf="!formularioBloqueado">
                  <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                  Agregar Otro Analista
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="etapa5" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">Etapa 5 : Materiales y Equipos de Siembra</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <ion-grid class="sin-padding">
                <ion-row>
                  <ion-col size="6">
                    <ion-label class="subtitulo">Material Usado :</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-label class="subtitulo">Codigo del Material</ion-label>
                  </ion-col>
                </ion-row>

                <div *ngFor="let material of listaMaterialSiembra; let i = index" class="fila_material">
                  <ion-row>
                    <ion-col size="6">
                      <ion-select placeholder="Seleccione" class="selecionador_opciones_small"
                        [(ngModel)]="material.nombre" [disabled]="formularioBloqueado">
                        <ion-select-option *ngFor="let opcion of opcionesMaterialSiembra" [value]="opcion.nombre">
                          {{opcion.nombre}}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
                    <ion-col size="6">
                      <ion-input placeholder="Código" class="contendor_input_small"
                        [(ngModel)]="material.codigoMaterialSiembra" [disabled]="formularioBloqueado">
                      </ion-input>
                    </ion-col>
                  </ion-row>
                </div>

                <ion-row>
                  <ion-col size="12">
                    <ion-button fill="clear" size="small" (click)="agregarMaterialSiembra()"
                      *ngIf="!formularioBloqueado">
                      <ion-icon name="add-circle" slot="start"></ion-icon>
                      Agregar Material
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="4">
              <ion-label class="subtitulo">Equipo e Instrumento</ion-label>
              <ion-list class="lista_equipos">
                <ion-item *ngFor="let equipo of listaEquiposSiembra">
                  <ion-checkbox slot="start" label-placement="end" [(ngModel)]="equipo.seleccionado"
                    [disabled]="formularioBloqueado">
                    {{equipo.nombre}}
                  </ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="3">
              <ion-label class="subtitulo">Otros Equipos e Instrumentos</ion-label>
              <ion-textarea [disabled]="formularioBloqueado" [(ngModel)]="observacionesLimpieza"></ion-textarea>
            </ion-col>
          </ion-row>
          <hr class="linea_divisoria">
          <ion-row>
            <ion-col size="12">
              <ion-label class="subtitulo">Diluyentes</ion-label>
              <div *ngFor="let diluyente of listaDiluyentes; let i = index" class="fila_material">
                <ion-grid class="sin-padding">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="5">
                      <ion-label>Diluyente</ion-label>
                      <ion-select placeholder="Seleccione" class="selecionador_opciones_small"
                        [(ngModel)]="diluyente.nombre" [disabled]="formularioBloqueado">
                        <ion-select-option *ngFor="let opcion of opcionesDiluyentes" [value]="opcion.nombre">
                          {{opcion.nombre}}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
                    <ion-col size="5">
                      <ion-label>Código Diluyente</ion-label>
                      <ion-input placeholder="Código" class="contendor_input_small"
                        [(ngModel)]="diluyente.codigoDiluyente" [disabled]="formularioBloqueado">
                      </ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div class="ion-text-center ion-padding-top">
                <ion-button fill="clear" size="small" (click)="agregarDiluyente()" *ngIf="!formularioBloqueado">
                  <ion-icon name="add-circle" slot="start"></ion-icon>
                  Agregar Diluyente
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="etapa6" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">Etapa 6 : Observaciones y Firma</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <!-- COLUMNA 1: FIRMA (Izquierda) -->
            <ion-col size="6">
              <div class="zona-firma-final">
                <ion-label class="titulo-firma">Firma de la Coordinadora de Área</ion-label>

                <div class="caja-upload" (click)="!formularioBloqueado && adjuntarFirma()"
                  [class.tiene-imagen]="firmaCoordinador" [class.bloqueado]="formularioBloqueado">

                  <div *ngIf="!firmaCoordinador" class="contenido-vacio">
                    <ion-icon name="cloud-upload-outline" class="icono-upload"></ion-icon>
                    <p>Toque aquí para adjuntar firma</p>
                  </div>

                  <div *ngIf="firmaCoordinador" class="vista-previa">
                    <img [src]="firmaCoordinador" alt="Firma Coordinadora" />
                    <div class="capa-eliminar">
                      <span>Cambiar Firma</span>
                    </div>
                  </div>

                </div>
              </div>
            </ion-col>

            <!-- COLUMNA 2: OBSERVACIONES (Derecha) -->
            <ion-col size="6">
              <ion-label class="subtitulo">Observaciones</ion-label>
              <ion-textarea class="textarea_observaciones_final" placeholder="Ingrese observaciones aquí..."
                [(ngModel)]="observacionesFinales" [disabled]="formularioBloqueado"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <!-- Estado Editable: 3 Botones -->
      <ion-row *ngIf="!formularioBloqueado">
        <ion-col size="4">
          <ion-button expand="block" color="danger" (click)="confirmarCancelar()">
            Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" color="medium" (click)="confirmarGuardarBorrador()">
            Guardar Borrador
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" color="primary" (click)="confirmarFormulario()">
            Confirmar Formulario
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Estado Bloqueado: 1 Botón de Salir -->
      <ion-row *ngIf="formularioBloqueado">
        <ion-col size="12">
          <ion-button expand="block" color="primary" (click)="salirVerificado()">
            Volver / Salir
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>