.tarjeta_Personalizada {

    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

}

.tarjeta_Personalizada ion-card-title {
    font-size: 38px;
    font-family: "Inclusive Sans", regular;
}

.menu-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;

    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;

    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    height: 200px;
}