<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card class="tarjeta_Personalizada" color="light">
    <ion-card-header>
      <ion-card-title> Bienvenido a la nueva interfaz digital de AsisTec </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La pagina web creada para Analistas del laboratorio AsisTec de la Pontificia Universidad Catolica de Valparaiso.

    </ion-card-content>
  </ion-card>

  <div class="menu-grid">

    <ion-button class="boton-panel" color="rojo-suave" expand="block" (click)="busquedaALI()">
      Busqueda ALI
    </ion-button>

    <ion-button class="boton-panel" color="rojo-suave" expand="block">
      LOREM IPSUM
    </ion-button>

    <ion-button class="boton-panel" color="rojo-suave" expand="block">
      LOREM IPSUM
    </ion-button>

    <ion-button class="boton-panel" color="rojo-suave" expand="block" (click)="generarALI()">
      Generar ALI Basico
    </ion-button>

    <ion-button class="boton-panel" color="rojo-suave" expand="block">
      LOREM IPSUM
    </ion-button>

    <ion-button class="boton-panel" color="rojo-suave" expand="block">
      LOREM IPSUM
    </ion-button>
  </div>




</ion-content>