<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card class="tarjeta_Personalizada" color="light">
    <ion-card-header>
      <ion-card-title> Bienvenido a la nueva interfaz digital de AsisTec </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipiscing elit, commodo mi nunc cras sodales id sapien turpis, penatibus
      sociosqu maecenas porttitor neque ad. Class scelerisque felis egestas augue non fringilla arcu, velit cubilia
      convallis
      dignissim praesent porta, enim feugiat accumsan pretium orci natoque. Porttitor quis magnis tempus erat nascetur
      himenaeos leo,massa platea magna
      suscipit aliquet sociis consequat felis, sapien faucibus augue metus dis nulla. Pretium ad cursus magna mus velit
      dignissim nam rutrum, quisque congue
      justo fames class massa id interdum arcu, inceptos quis purus fringilla pulvinar ridiculus feugiat.
    </ion-card-content>
  </ion-card>

  <div class="menu-grid">

    <ion-button class="boton-panel" color="rojo-suave" expand="block" (click)="busquedaALI()">
      Busqueda ALI
    </ion-button>

    <ion-button class="boton-panel" color="rojo-suave" expand="block">
      LOREM IPSUM
    </ion-button>

    <ion-button class="boton-panel" color="rojo-suave" expand="block">
      LOREM IPSUM
    </ion-button>

    <ion-button class="boton-panel" color="rojo-suave" expand="block" (click)="generarALI()">
      Generar ALI Basico
    </ion-button>

    <ion-button class="boton-panel" color="rojo-suave" expand="block">
      LOREM IPSUM
    </ion-button>

    <ion-button class="boton-panel" color="rojo-suave" expand="block">
      LOREM IPSUM
    </ion-button>
  </div>




</ion-content>