<app-header></app-header>
<ion-content [fullscreen]="true" [scrollY]="true">
  <app-titulos-reportes [codigoALI]="codigoALI" [estadoTPA]="estadoTPA"></app-titulos-reportes>
  <ion-accordion-group [value]="seccionActual">
    <ion-accordion value="etapa1" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">ETAPA 1 : Almacenamiento de Muestra</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="auto" class="columna_del_contendido">
              <ion-label>Lugar de Almacenamiento de la muestra</ion-label>
              <ion-select placeholder="Seleccione un Lugar" class="selecionador_opciones">
                <ion-select-option *ngFor="let lugar of listaLugares" [value]="lugar.nombre">
                  {{ lugar.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col class="columna_del_contendido">
              <ion-label>Observaciones de la Muestra</ion-label>
              <ion-textarea class="seleccionador_de_texto"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion *ngFor="let etapa2 of listaRepeticionesEtapa2; let i = index; let isLast=last" [value]="'etapa2'+ i"
      class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">ETAPA 2 : Recepcion de Muestra Analista {{i+1}} </ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col class="columna_del_contendido">
              <ion-label>Responsable </ion-label>
              <ion-select placeholder="Seleccione un Responsable" class="selecionador_opciones">
                <ion-select-option *ngFor="let responsable of listaResponsables" [value]="responsable.nombre">
                  {{ responsable.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col class="columna_del_contendido">
              <ion-label>Fecha de Preparacion</ion-label>
              <ion-datetime-button [datetime]="'calendarioIngreso' + i"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime [id]="'calendarioIngreso' + i" presentation="date" [showDefaultButtons]="true"
                    doneText="Listo" cancelText="Cancelar">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col class="columna_del_contendido">
              <ion-label>Hora de inicio</ion-label>
              <ion-datetime-button datetime="horaInicio"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="horaInicio" presentation="time" [showDefaultButtons]="true" doneText="Listo"
                    cancelText="Cancelar">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>
          <hr class="linea_divisoria">
          <ion-row>
            <ion-col>
              <ion-label>Hora de Pesado</ion-label>
              <ion-datetime-button datetime="horaPesado"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="horaPesado" presentation="time" [showDefaultButtons]="true" doneText="Listo"
                    cancelText="Cancelar">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col>
              <ion-label>Numero de muestras</ion-label>
              <ion-input class="contenedor_input"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label>Equipo y/o Instrumento</ion-label>
              <ion-select placeholder="Seleccione un Equipo y/o Instrumento" class="selecionador_opciones">
                <ion-select-option *ngFor="let equipo of listaEquipos" [value]="equipo.nombre">
                  {{ equipo.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-label>Lugar de Almacenamiento de la muestra</ion-label>
              <ion-select placeholder="Seleccione un Equipo y/o Instrumento" class="selecionador_opciones">
                <ion-select-option *ngFor="let lugar of listaLugares" [value]="lugar.nombre"
                  [disabled]="lugar.nombre === 'Mesón Siembra'">
                  {{ lugar.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <hr class="linea_divisoria">
          <ion-row>
            <ion-col>
              <ion-label>Retiro o Pesado</ion-label>
              <ion-radio-group [value]="estadoSeleccionado" (ionChange)="cambiarEstado($event)">
                <div class="contenedor-radios">
                  <ion-radio value="Retiro" labelPlacement="end">Retiro</ion-radio>
                  <ion-radio value="Pesado" labelPlacement="end">Pesado</ion-radio>
                </div>
              </ion-radio-group>
            </ion-col>
            <ion-col>
              <ion-label>Clave Material Pesado</ion-label>
              <div *ngFor="let material of etapa2.listaMateriales ; let i=index; trackBy: trackById"
                class="fila_dinamica">
                <div class="contendor_doble">
                  <ion-select [(ngModel)]="material.tipoMaterial" placeholder="Seleccione la clave del material pesado"
                    class="selecionador_opciones" interface="alert">
                    <ion-select-option *ngFor="let opcion of opcionesMateriales" [value]="opcion.valor"
                      [disabled]="opcion.esTitulo">
                      {{ opcion.nombre }}
                    </ion-select-option>
                  </ion-select>
                  <ion-input [(ngModel)]="material.codigoMaterial" class="contendor_input"></ion-input>
                </div>
              </div>
              <div class="ion-text-right ion-padding-top">
                <ion-button fill="clear" size="small" (click)="agregarMaterial(i)">
                  <ion-icon name="add-circle" slot="start"></ion-icon>
                  Agregar otro material
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isLast">
            <ion-col size="12">
              <div class="ion-padding-top">
                <ion-button expand="block" fill="outline" (click)="agregarRepeticion()">
                  <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                  Agregar Otro Analista
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="etapa3" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">Etapa 3 : Limpieza General</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-label>Items de Limpieza</ion-label>
        <ion-list>
          <ion-item *ngFor="let item of listaLimpieza">
            <ion-checkbox slot="start" label-placement="end" [disabled]="item.bloqueado"
              [(ngModel)]="item.seleccionado">
              {{item.nombre}}
            </ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <ion-label>Observaciones</ion-label>
            <ion-textarea></ion-textarea>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
    <ion-accordion *ngFor="let etapa4 of listaRepeticionesEtapa4; let i = index; let isLast = last"
      [value]="'etapa4' + i" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">Etapa 4: Retiro de Muestras Pesadas {{i+1}}</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>Responsable</ion-label>
              <ion-select placeholder="Seleccione un responsable" class="selecionador_opciones"
                [(ngModel)]="etapa4.responsable">
                <ion-select-option *ngFor="let responsable of listaResponsables" [value]="responsable.nombre">
                  {{responsable.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-label>Fecha</ion-label>
              <ion-datetime-button [datetime]="'fechaRetiroMuestra' + i"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime [id]="'fechaRetiroMuestra' + i" presentation="date" [showDefaultButtons]="true"
                    doneText="Listo" cancelText="Cancelar" [(ngModel)]="etapa4.fecha">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col>
              <ion-label>Hora de Inicio</ion-label>
              <ion-datetime-button [datetime]="'horaInicioEtapa4' + i"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime [id]="'horaInicioEtapa4' + i" presentation="time" [showDefaultButtons]="true"
                    doneText="Listo" cancelText="Cancelar" [(ngModel)]="etapa4.horaInicio">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col>
              <ion-label>Observaciones</ion-label>
              <ion-textarea [(ngModel)]="etapa4.analisisARealizar"></ion-textarea>
            </ion-col>
            <ion-col size="12" *ngIf="isLast">
              <div class="ion-padding-top">
                <ion-button expand="block" fill="outline" (click)="agregarRepeticionEtapa4()">
                  <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                  Agregar Otro Analista
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="etapa5" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">Etapa 5 : Materiales y Equipos de Siembra</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <ion-grid class="sin-padding">
                <ion-row>
                  <ion-col size="6">
                    <ion-label class="subtitulo">Material Usado :</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-label class="subtitulo">Codigo del Material</ion-label>
                  </ion-col>
                </ion-row>

                <div *ngFor="let material of listaMaterialSiembra; let i = index" class="fila_material">
                  <ion-row>
                    <ion-col size="6">
                      <ion-select placeholder="Seleccione" class="selecionador_opciones_small"
                        [(ngModel)]="material.nombre">
                        <ion-select-option *ngFor="let opcion of opcionesMaterialSiembra" [value]="opcion.nombre">
                          {{opcion.nombre}}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
                    <ion-col size="6">
                      <ion-input placeholder="Código" class="contendor_input_small"
                        [(ngModel)]="material.codigoMaterialSiembra">
                      </ion-input>
                    </ion-col>
                  </ion-row>
                </div>

                <ion-row>
                  <ion-col size="12">
                    <ion-button fill="clear" size="small" (click)="agregarMaterialSiembra()">
                      <ion-icon name="add-circle" slot="start"></ion-icon>
                      Agregar Material
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="4">
              <ion-label class="subtitulo">Equipo e Instrumento</ion-label>
              <ion-list class="lista_equipos">
                <ion-item *ngFor="let equipo of listaEquiposSiembra">
                  <ion-checkbox slot="start" label-placement="end" [(ngModel)]="equipo.seleccionado">
                    {{equipo.nombre}}
                  </ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="3">
              <ion-label class="subtitulo">Otros Equipos e Instrumentos</ion-label>
              <ion-textarea></ion-textarea>
            </ion-col>
          </ion-row>
          <hr class="linea_divisoria">
          <ion-row>
            <ion-col size="12">
              <ion-label class="subtitulo">Diluyentes</ion-label>
              <div *ngFor="let diluyente of listaDiluyentes; let i = index" class="fila_material">
                <ion-grid class="sin-padding">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="5">
                      <ion-label>Diluyente</ion-label>
                      <ion-select placeholder="Seleccione" class="selecionador_opciones_small"
                        [(ngModel)]="diluyente.nombre">
                        <ion-select-option *ngFor="let opcion of opcionesDiluyentes" [value]="opcion.nombre">
                          {{opcion.nombre}}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
                    <ion-col size="5">
                      <ion-label>Código Diluyente</ion-label>
                      <ion-input placeholder="Código" class="contendor_input_small"
                        [(ngModel)]="diluyente.codigoDiluyente">
                      </ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div class="ion-text-center ion-padding-top">
                <ion-button fill="clear" size="small" (click)="agregarDiluyente()">
                  <ion-icon name="add-circle" slot="start"></ion-icon>
                  Agregar Diluyente
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="etapa6" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">Etapa 6 : Observaciones y Firma</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <!-- COLUMNA 1: FIRMA (Izquierda) -->
            <ion-col size="6">
              <div class="zona-firma-final">
                <ion-label class="titulo-firma">Firma de la Coordinadora de Área</ion-label>

                <div class="caja-upload" (click)="inputFirma.click()" [class.tiene-imagen]="firmaCoordinador">

                  <div *ngIf="!firmaCoordinador" class="contenido-vacio">
                    <ion-icon name="cloud-upload-outline" class="icono-upload"></ion-icon>
                    <p>Toque aquí para adjuntar firma</p>
                  </div>

                  <div *ngIf="firmaCoordinador" class="vista-previa">
                    <img [src]="firmaCoordinador" alt="Firma Coordinadora" />
                    <div class="capa-eliminar">
                      <span>Cambiar Firma</span>
                    </div>
                  </div>

                </div>
                <input #inputFirma type="file" accept="image/*" (change)="cargarFirmaCoordinador($event)"
                  style="display: none;" />
              </div>
            </ion-col>

            <!-- COLUMNA 2: OBSERVACIONES (Derecha) -->
            <ion-col size="6">
              <ion-label class="subtitulo">Observaciones</ion-label>
              <ion-textarea class="textarea_observaciones_final" placeholder="Ingrese observaciones aquí..."
                [(ngModel)]="observaciones"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>