<app-header></app-header>
<ion-content [fullscreen]="true" [scrollY]="true">
  <app-titulos-reportes [codigoALI]="codigoALI" [estadoTPA]="estadoTPA"></app-titulos-reportes>
  <ion-accordion-group>
    <ion-accordion value="etapa1" class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">ETAPA 1 : Almacenamiento de Muestra</ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="auto" class="columna_del_contendido">
              <ion-label>Lugar de Almacenamiento de la muestra</ion-label>
              <ion-select placeholder="Seleccione un Lugar" class="selecionador_opciones">
                <ion-select-option value="Freezer 33-M">Freezer 33-M</ion-select-option>
                <ion-select-option value="Refrigerador 33-M">Refrigerador 33-M</ion-select-option>
                <ion-select-option value="Mesón Siembra">Mesón Siembra</ion-select-option>
                <ion-select-option value="Gabinete sala Transpaso">Gabinete sala Transpaso</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col class="columna_del_contendido">
              <ion-label>Observaciones de la Muestra</ion-label>
              <ion-textarea class="seleccionador_de_texto"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion *ngFor="let etapa2 of listaRepeticionesEtapa2; let i = index; let isLast=last" [value]="'etapa2'+ i"
      class="contenedor_label">
      <ion-item slot="header" color="light">
        <ion-label class="titulo_contenedor">ETAPA 2 : Recepcion de Muestra Analista {{i+1}} </ion-label>
      </ion-item>
      <div class="contenido_del_label" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col class="columna_del_contendido">
              <ion-label>Responsable </ion-label>
              <ion-select placeholder="Seleccione un Responsable" class="selecionador_opciones">
                <ion-select-option value="Olaya">Olaya</ion-select-option>
                <ion-select-option value="Jorge">Jorge</ion-select-option>
                <ion-select-option value="Sandy">Sandy</ion-select-option>
                <ion-select-option value="Pricilla">Pricilla</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col class="columna_del_contendido">
              <ion-label>Fecha de Preparacion</ion-label>
              <ion-datetime-button [datetime]="'calendarioIngreso' + i"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime [id]="'calendarioIngreso' + i" presentation="date" [showDefaultButtons]="true"
                    doneText="Listo" cancelText="Cancelar">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col class="columna_del_contendido">
              <ion-label>Hora de inicio</ion-label>
              <ion-datetime-button datetime="horaInicio"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="horaInicio" presentation="time" [showDefaultButtons]="true" doneText="Listo"
                    cancelText="Cancelar">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>
          <hr class="linea_divisoria">
          <ion-row>
            <ion-col>
              <ion-label>Hora de Pesado</ion-label>
              <ion-datetime-button datetime="horaPesado"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="horaPesado" presentation="time" [showDefaultButtons]="true" doneText="Listo"
                    cancelText="Cancelar">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col>
              <ion-label>Numero de muestras</ion-label>
              <ion-input class="contenedor_input"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label>Equipo y/o Instrumento</ion-label>
              <ion-select placeholder="Seleccione un Equipo y/o Instrumento" class="selecionador_opciones">
                <ion-select-option value="Balanza 74-M">Balanza 74-M</ion-select-option>
                <ion-select-option value="Camara Flujo laminar 8-M">Camara Flujo laminar 8-M</ion-select-option>
                <ion-select-option value="Balanza 6-M">Balanza 6-M</ion-select-option>
                <ion-select-option value="Meson de Transpaso">Meson de Transpaso</ion-select-option>
                <ion-select-option value="Balanza 99-M">Balanza 99-M</ion-select-option>
                <ion-select-option value="Balanza 108-M">Balanza 108-M</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-label>Lugar de Almacenamiento de la muestra</ion-label>
              <ion-select placeholder="Seleccione un Equipo y/o Instrumento" class="selecionador_opciones">
                <ion-select-option value="Freezer 33-M">Freezer 33-M</ion-select-option>
                <ion-select-option value="Refrigerador 33-M">Refrigerador 33-M</ion-select-option>
                <ion-select-option value="Gabinete sala Transpaso">Gabinete sala Transpaso</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <hr class="linea_divisoria">
          <ion-row>
            <ion-col>
              <ion-label>Retiro o Pesado</ion-label>
              <ion-radio-group [value]="estadoSeleccionado" (ionChange)="cambiarEstado($event)">
                <div class="contenedor-radios">
                  <ion-radio value="Retiro" labelPlacement="end">Retiro</ion-radio>
                  <ion-radio value="Pesado" labelPlacement="end">Pesado</ion-radio>
                </div>
              </ion-radio-group>
            </ion-col>
            <ion-col>
              <ion-label>Clave Material Pesado</ion-label>
              <div *ngFor="let material of etapa2.listaMateriales ; let i=index; trackBy: trackById"
                class="fila_dinamica">
                <div class="contendor_doble">
                  <ion-select [(ngModel)]="material.tipoMaterial" placeholder="Seleccione la clave del material pesado"
                    class="selecionador_opciones" interface="alert">
                    <ion-select-option disabled="true">--- INSTRUMENTOS ---</ion-select-option>

                    <ion-select-option value="cuchara">Cuchara</ion-select-option>
                    <ion-select-option value="bisturi">Bisturí</ion-select-option>
                    <ion-select-option value="pinzas">Pinzas</ion-select-option>


                    <ion-select-option disabled="true">--- PIPETAS 1 ML ---</ion-select-option>

                    <ion-select-option value="22-M">&nbsp;&nbsp; Pipeta 22-M</ion-select-option>
                    <ion-select-option value="23-M">&nbsp;&nbsp; Pipeta 23-M</ion-select-option>
                    <ion-select-option value="72-M">&nbsp;&nbsp; Pipeta 72-M</ion-select-option>
                    <ion-select-option value="98-M">&nbsp;&nbsp; Pipeta 98-M</ion-select-option>
                    <ion-select-option value="100-M">&nbsp;&nbsp; Pipeta 100-M</ion-select-option>
                    <ion-select-option value="102-M">&nbsp;&nbsp; Pipeta 102-M</ion-select-option>


                    <ion-select-option disabled="true">--- PIPETAS 10 ML ---</ion-select-option>

                    <ion-select-option value="32-M">&nbsp;&nbsp; Pipeta 32-M</ion-select-option>
                    <ion-select-option value="75-M">&nbsp;&nbsp; Pipeta 75-M</ion-select-option>
                    <ion-select-option value="94-M">&nbsp;&nbsp; Pipeta 94-M</ion-select-option>
                    <ion-select-option value="103-M">&nbsp;&nbsp; Pipeta 103-M</ion-select-option>
                    <ion-select-option value="106-M">&nbsp;&nbsp; Pipeta 106-M</ion-select-option>
                  </ion-select>
                  <ion-input [(ngModel)]="material.codigoMaterial" class="contendor_input"></ion-input>
                </div>
              </div>
              <div class="ion-text-right ion-padding-top">
                <ion-button fill="clear" size="small" (click)="agregarMaterial(i)">
                  <ion-icon name="add-circle" slot="start"></ion-icon>
                  Agregar otro material
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isLast">
            <ion-col size="12">
              <div class="ion-padding-top">
                <ion-button expand="block" fill="outline" (click)="agregarRepeticion()">
                  <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                  Agregar Otro Analista
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>